$grey-color: #BDBDBD;
$first-red-color: #C00812;

html {
    background-color: $grey-color;
}

body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.logon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;

    &__img {
        height: 200px;
        width: 100%;
    }

    &__header {
        text-align: center;
        font-size: 25px;
        padding-bottom: 5px;
        border-bottom: 2px solid $first-red-color;
    }

    &__form {
        display: flex;
        flex-direction: column;

        .form {

            &__label{
                font-weight: 500;
                margin-top: 10px;
            }

            &__input{
                margin-top: 10px;
                height: 40px;
                border-style: none;
                border-radius: 10px;
                padding-left: 10px;

                &:focus{
                    outline: none;
                    border: 1px solid $first-red-color;
                }
            }

            &__button{
                right: 0;
                height: 40px;
                width: 30%;
                margin-top: 10px;
                margin-right: 0;
            }
            
        }
    }
}