$grey-color: #BDBDBD;
$color-white: #FFF;
$first-red-color: #C00812;
$second-red-color: #ec4f57;
$color-black: #000;

html {
    background-color: $grey-color;
}

body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    margin: 0 15px;
    margin-top: 30px;
}

.logon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;

    &__img {
        height: 200px;
        width: 100%;
    }

    &__header {
        text-align: center;
        font-size: 25px;
        padding-bottom: 5px;
        border-bottom: 2px solid $first-red-color;
    }

    &__form {
        display: flex;
        flex-direction: column;

        .form {

            &__label{
                font-weight: 500;
                margin-top: 10px;
            }

            &__input{
                margin-top: 10px;
                height: 40px;
                border-style: none;
                border-radius: 10px;
                padding-left: 10px;

                &:focus{
                    outline: none;
                    border: 1px solid $first-red-color;
                }
            }

            &__button{
                right: 0;
                height: 40px;
                margin-top: 10px;
                border-radius: 10px;
                border-style: none;

                &:hover{
                    box-shadow: 5px 5px 10px $color-black;
                    background-color: $second-red-color;
                    font-weight: bold;
                    text-shadow: 1px 0 10px $color-black;
                    letter-spacing: 0.3em;
                    color: $color-white;
                    transition: 300ms;
                }

            }
            
        }
    }
}